html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif/*rtl:prepend:"Droid Arabic Kufi","Droid Sans", */;
}

header {
    padding: 1em;
}

.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.bottom {
    bottom: 0;
}

.flex {
    display: flex;
}

.vertical.flex {
    flex-direction: column;
}

.horizontal.flex {
    flex-direction: row;
}

.fill {
    flex: 1;
}

.border-box {
    box-sizing: border-box;
}

.no-margin {
    margin: 0 !important;
}

.content-section {
    margin: 0em 1em;
}

.overflow {
    overflow: auto;
}

.borderless.menu {
    border-radius: 0px;
}